#![enable(implicit_some)]
Prefab(
    entities: [
        // Player
        PrefabEntity(
            data: Player (
                data: Human(
                    sprite_scene: (
                        sheet: Sheet(
                            texture: File("image/human_m.png", (
                                "IMAGE", (
                                    sampler_info: (
                                        min_filter: Nearest,
                                        mag_filter: Nearest,
                                        mip_filter: Nearest,
                                        wrap_mode: (Tile, Tile, Tile),
                                        lod_bias: (0),
                                        lod_range: (
                                            start: ( 0 ),
                                            end: ( 8000 ),
                                        ),
                                        comparison: None,
                                        border: (0),
                                        anisotropic: Off,
                                    ),
                                ),
                            )),
                            sprites: [
                                Grid((
                                    texture_width: 32,
                                    texture_height: 32,
                                    columns: 1,
                                    rows: 1,
                                    cell_size: (32, 32),
                                ))
                            ],
                            name: "human_m",
                        ),
                        render: (
                            sheet: "human_m",
                            sprite_number: 0,
                        ),
                        transform: (
                            translation: (300.0, 200.0, 0.0),
                        )
                    )
                )
            )
        )
    ],
)
