(
    texture_width: 48,
    texture_height: 40,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 8,
            height: 8,
        ),
        (
            x: 8,
            y: 0,
            width: 8,
            height: 8,
        ),
        (
            x: 16,
            y: 0,
            width: 8,
            height: 8,
        ),
        (
            x: 24,
            y: 0,
            width: 8,
            height: 8,
        ),
        (
            x: 32,
            y: 0,
            width: 8,
            height: 8,
        ),
        (
            x: 40,
            y: 0,
            width: 8,
            height: 8,
        ),
        (
            x: 0,
            y: 8,
            width: 8,
            height: 8,
        ),
        (
            x: 8,
            y: 8,
            width: 8,
            height: 8,
        ),
        (
            x: 16,
            y: 8,
            width: 8,
            height: 8,
        ),
        (
            x: 24,
            y: 8,
            width: 8,
            height: 8,
        ),
        (
            x: 32,
            y: 8,
            width: 8,
            height: 8,
        ),
        (
            x: 40,
            y: 8,
            width: 8,
            height: 8,
        ),
        (
            x: 0,
            y: 16,
            width: 8,
            height: 8,
        ),
        (
            x: 8,
            y: 16,
            width: 8,
            height: 8,
        ),
        (
            x: 16,
            y: 16,
            width: 8,
            height: 8,
        ),
        (
            x: 24,
            y: 16,
            width: 8,
            height: 8,
        ),
        (
            x: 32,
            y: 16,
            width: 8,
            height: 8,
        ),
        (
            x: 40,
            y: 16,
            width: 8,
            height: 8,
        ),
        (
            x: 0,
            y: 24,
            width: 8,
            height: 8,
        ),
        (
            x: 8,
            y: 24,
            width: 8,
            height: 8,
        ),
        (
            x: 16,
            y: 24,
            width: 8,
            height: 8,
        ),
        (
            x: 24,
            y: 24,
            width: 8,
            height: 8,
        ),
        (
            x: 32,
            y: 24,
            width: 8,
            height: 8,
        ),
        (
            x: 40,
            y: 24,
            width: 8,
            height: 8,
        ),
        (
            x: 0,
            y: 32,
            width: 8,
            height: 8,
        ),
        (
            x: 8,
            y: 32,
            width: 8,
            height: 8,
        ),
        (
            x: 16,
            y: 32,
            width: 8,
            height: 8,
        ),
        (
            x: 24,
            y: 32,
            width: 8,
            height: 8,
        ),
        (
            x: 32,
            y: 32,
            width: 8,
            height: 8,
        ),
        (
            x: 40,
            y: 32,
            width: 8,
            height: 8,
        ),
    ]
)
